**/bin/
**/obj/
**/dist/
artifacts/
.test-data/
*.user
*.log
.env
.env.*
!.env.example
desktop/
server-package/
.vscode/
.local/
node_modules/
playwright-report/
test-results/
settings.json
devices.json
devices.json.*
appearance.json
appearance.json.*
